@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font-poppins);
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.navOpen {
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: slideright;
  animation-fill-mode: both;
}

@keyframes slideright {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}

.boxShadowComp {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navClose {
  animation-delay: 0s;
  animation-duration: 0.75s;
  animation-name: slideleft;
  animation-fill-mode: both;
}

@keyframes slideleft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.control-arrow {
  top: 0;
  color: #951a2e !important;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}

.animate-slide {
  animation: slide 1s ease-out;
}

.bg-primary-1 {
  background: #951a2e;
}
.bg-primary-2 {
  background: #c4314e;
}
.bg-primary-3 {
  background: #d93f57;
}
.bg-primary-4 {
  background: #ca2128;
}
.bg-primary-5 {
  background: #ec2b26;
}
